################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/New folder/
/.vs/
*.pyc
ReloadCam_Versions.py
